<div class="gizlilik">
    <div class="gizlilikDiv">
        <p class="gizlilikText">Gizlilik Politikası</p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            1. Genel Bakış
        </p>
        <p class="gizlilikCaption">
            <b>Ahmet Turan POLAT</b> olarak, ziyaretçilerimizin gizliliğine büyük önem veriyoruz. Bu Gizlilik Politikası,
            <a href="ahmetturanpolat.com.tr">ahmetturanpolat.com.tr</a> adresindeki kişisel blogumda toplanan bilgiler ve bu bilgilerin nasıl kullanıldığı
            hakkında bilgi sağlar.
        </p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            2. Bilgi Toplama
        </p>
        <p class="gizlilikCaption">
            Blogumu ziyaret ettiğinizde, IP adresiniz ve çerezler aracılığıyla bazı otomatik bilgiler toplanabilir. Bu
            bilgiler, sitenin kullanımı ile ilgili genel verilerdir ve kişisel olarak tanımlanabilir herhangi bir bilgi
            içermez.
        </p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            3. Çerezler
        </p>
        <p class="gizlilikCaption">
            Blogum, sitenin düzgün çalışmasını sağlamak ve ziyaretçi trafiğini analiz etmek için çerezleri kullanabilir.
            Çerezler, kullanıcı deneyimini geliştirmek için tercihlerinizi hatırlamak ve genel kullanım verilerini
            toplamak amacıyla kullanılır. Tarayıcı ayarlarınızdan çerezleri yönetebilir veya kapatabilirsiniz, ancak bu
            durumda sitenin bazı fonksiyonları düzgün çalışmayabilir.
        </p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            4. Bilgi Kullanımı
        </p>
        <p class="gizlilikCaption">
            Toplanan bilgiler, blogumun içeriğini ve işlevselliğini iyileştirmek amacıyla kullanılır. Bu bilgiler,
            herhangi bir üçüncü taraf ile paylaşılmaz.
        </p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            5. Bilgi Güvenliği
        </p>
        <p class="gizlilikCaption">
            Bilgilerinizi korumak için makul güvenlik önlemleri alıyoruz. Ancak, internet üzerinden yapılan veri
            aktarımlarının tamamen güvenli olmadığını ve bu nedenle hiçbir güvenlik önleminin mutlak güvenlik
            sağlayamayacağını unutmayın.
        </p>
    </div>
    <div class="gizlilikDiv">
        <p class="gizlilikTitle">
            6. Değişiklikler
        </p>
        <p class="gizlilikCaption">
            Gizlilik Politikamızda yapılacak değişiklikler bu sayfada güncellenecek ve sizin bilginize sunulacaktır.
        </p>
    </div>
</div>