@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.contentDiv {
  width: 96.7%;
  border: rgba(128, 128, 128, 0.199) 2px solid;
  border-radius: 10px;
  padding: 30px;
  padding-top: 15px;
  margin-top: 20px;
  background-color: #fff;
  line-height: 0px;
  user-select: none;

  p {
    font-size: 20px;
    color: #161616;
    font-weight: 600;
  }
}

.titleDiv {
  user-select: none;
  width: 100%;
  border: rgba(128, 128, 128, 0.199) 2px solid;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 20px;
  background-color: #fff;
  line-height: 0px;
  font-family: 'Red Hat Display', sans-serif;

  textarea{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;

  }

  .radioButtons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-right: 15px;

    input {
      display: none;
    }

  }

  .radioButtons label {
    cursor: pointer;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #4b4b4b0e;
    color: #161616;
    font-size: 20px;
    font-weight: 600;
    transition: .3s ease;
    user-select: none;
  }

  .radioButtons label.selected {
    background-color: blue;
    color: white;
  }

  p {
    margin-left: 20px;
    font-size: 20px;
    color: #161616;
    font-weight: 600;
  }

  textarea {
    width: 95%;
    margin-left: 20px;
    height: 80px;
    border: rgba(128, 128, 128, 0.199) 2px solid;
    border-radius: 10px;
    background-color: #f2f3f85f;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    resize: none;
  }

  textarea:focus,
  textarea:hover {
    outline: none;
  }

  input::placeholder {
    position: absolute;
    top: 15px;
    font-weight: 600;
    font-size: 15px;
  }
}

.taginput {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
  background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!--%20License%3A%20MIT.%20Made%20by%20developmentseed%3A%20https%3A%2F%2Fgithub.com%2Fdevelopmentseed%2Fcollecticons-lib%20--%3E%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20id%3D%22icon-bound%22%20fill%3D%22none%22%20%2F%3E%3Cpath%20fill%3D%22blue%22%20d%3D%22M14.497%2C0H9.988C9.162%2C0%2C8.007%2C0.478%2C7.423%2C1.063L0.438%2C8.047c-0.585%2C0.585-0.585%2C1.541%2C0%2C2.125l5.389%2C5.389%20c0.584%2C0.585%2C1.541%2C0.585%2C2.125%2C0l6.984-6.984C15.522%2C7.993%2C16%2C6.838%2C16%2C6.012V1.503C16%2C0.676%2C15.324%2C0%2C14.497%2C0z%20M12.5%2C5%20C11.672%2C5%2C11%2C4.328%2C11%2C3.5S11.672%2C2%2C12.5%2C2S14%2C2.672%2C14%2C3.5S13.328%2C5%2C12.5%2C5z%22%20%2F%3E%3C%2Fsvg%3E") no-repeat left;
  background-size: 17px;
  background-position: 20px center;
  text-indent: 45px;
  background-color: #f2f3f88e;
}

.currentTags {
  display: flex;

  p {
    color: #000000;
    font-weight: 500;
    margin-right: 10px;
  }

  button {
    display: flex;
    align-items: center;
    background-color: #00b50fb0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-size: 15px;
    color: #ffffff;
    height: 40px;
    margin-right: 10px;

    p {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;

      &::after {
        content: "+";
        margin-left: 20px;
        font-size: 25px;
      }
    }

  }

}

.tagDomain {
  margin-top: 10px;
}


.tag {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 89, 255);
  color: #f9f9f9;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;




  p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    display: block;

    &::before {
      content: "#";
    }
  }

  &:hover {
    background: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3C!--%20License%3A%20PD.%20Made%20by%20zurb%3A%20https%3A%2F%2Fgithub.com%2Fzurb%2Ffoundation-icon-fonts%20--%3E%3Csvg%20fill%3D%22%23fff%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M75.834%2C33.388h-51.67c-1.311%2C0-2.375%2C1.058-2.375%2C2.373v49.887c0%2C1.314%2C1.064%2C2.377%2C2.375%2C2.377h51.67c1.314%2C0%2C2.375-1.063%2C2.375-2.377V35.76C78.209%2C34.446%2C77.148%2C33.388%2C75.834%2C33.388z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M79.004%2C17.352H59.402v-2.999c0-1.314-1.061-2.377-2.373-2.377H42.971c-1.312%2C0-2.375%2C1.063-2.375%2C2.377v2.999H20.996c-1.312%2C0-2.375%2C1.059-2.375%2C2.373v6.932c0%2C1.314%2C1.063%2C2.373%2C2.375%2C2.373h58.008c1.314%2C0%2C2.375-1.059%2C2.375-2.373v-6.932C81.379%2C18.41%2C80.318%2C17.352%2C79.004%2C17.352z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
    background-size: 17px;
    background-position: center;
    .trash {
     display: block;
    }
    p {
      opacity: 0;
    }


    background-color: rgb(255, 0, 0);

    /* &::before {
        content: "";
        display: inline-block;
        background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3C!--%20License%3A%20PD.%20Made%20by%20zurb%3A%20https%3A%2F%2Fgithub.com%2Fzurb%2Ffoundation-icon-fonts%20--%3E%3Csvg%20fill%3D%22%23ffffff%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M75.834%2C33.388h-51.67c-1.311%2C0-2.375%2C1.058-2.375%2C2.373v49.887c0%2C1.314%2C1.064%2C2.377%2C2.375%2C2.377h51.67c1.314%2C0%2C2.375-1.063%2C2.375-2.377V35.76C78.209%2C34.446%2C77.148%2C33.388%2C75.834%2C33.388z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M79.004%2C17.352H59.402v-2.999c0-1.314-1.061-2.377-2.373-2.377H42.971c-1.312%2C0-2.375%2C1.063-2.375%2C2.377v2.999H20.996c-1.312%2C0-2.375%2C1.059-2.375%2C2.373v6.932c0%2C1.314%2C1.063%2C2.373%2C2.375%2C2.373h58.008c1.314%2C0%2C2.375-1.059%2C2.375-2.373v-6.932C81.379%2C18.41%2C80.318%2C17.352%2C79.004%2C17.352z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 13px;
      } */
  }
}


.formStyle {
  display: flex;
  flex-direction: column;
}


.columnSyle {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.richText {
  margin-top: 90px;
}

.control-panel {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.category {
  position: relative;
  background-color: #ffffff;
}

.inputPosition {
  position: relative;
  height: 70px;
  border: none;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  /* Renksiz gölge oluşturur */
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  transition: .3s ease;
  font-size: 18px;

  &::placeholder {
    color: #0000005b;
    font-size: 25px;
    font-weight: 500;

  }
}

input:focus,
input:hover {
  outline: none;

}

.titledomain {
  width: 100%;

}

.category {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  color: #2f2f2f;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.submitButton {
  cursor: pointer;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 89, 255);
  margin-bottom: 20px;
  color: #f9f9f9;

  &:hover {
    background-color: rgb(0, 79, 226);
    transition: 0.3s ease;
  }
}

.customeditor {
  border: none;

}

.buttonDomain {
  height: 20%;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 20px;
}

/* Açılır menüdeki seçeneklerin stilini ayarlamak için */


.titleText {
  color: #161616;
  font-size: 25px;
}

.ex {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 35px;
}

.imageDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Buraya input alanınızın istediğiniz stilini ekleyin */
  /* Örnek olarak: */
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 600px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
    transition: 0.3s ease;
  }
}

.imageDesign input {
  display: none;
}

:root {
  --jd-color-border: #ffffff00;
}

.preview-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.7;
  object-fit: cover;
}

.imageElement {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0px;
}


.imageElement p {
  color: rgba(0, 0, 0, 0.300);
  ;
}

.imageDesign .imageIcon {
  fill: rgba(0, 0, 0, 0.300);
  font-weight: 600;
}

/* İsteğe Bağlı Olarak Ekstra Stil Ekleyebilirsiniz */
.imageDesign:focus {
  outline: none;
  /* Seçildiğinde kenarlığı kaldırır */
}

.columnSyle input[type="file"]::-webkit-file-upload-button {
  display: none;
}

/* quill-editor */

@media only screen and (max-width: 600px) {
  .tagislem {
    max-width: 90vw;
  }

  .control-panel {
    padding-left: 20px;
    padding-right: 20px;
  }

  .inputPosition {
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
  }

  .inputPosition::placeholder {
    font-size: 20px;
  }

  .category {
    height: 40px;
    margin-top: 10px;
  }

  .submitButton {
    height: 40px;
    margin-bottom: 10px;
  }

  .buttonDomain {
    top: 10px;
  }

  .titleText {
    font-size: 20px;
  }

  .ex {
    margin-top: 20px;
  }

  .imageDesign {
    height: 400px;
  }
}
