/* Firefox için scrollbar track */
* {
    scrollbar-color: #cccccc00 #ff0000d0; /* Track ve handle rengi */
    overflow: hidden;
}

/* Firefox için scrollbar handle */
*::-moz-scrollbar-thumb {
    background-color: #ff0000; /* Handle rengi */
    border-radius: 10px; /* Kenar yarıçapı */
}
