/* Firefox için scrollbar track */
* {
    scrollbar-width: none;
}

/* Firefox için scrollbar handle */
*::-moz-scrollbar-thumb {
    background-color: #ff0000; /* Handle rengi */
    border-radius: 10px; /* Kenar yarıçapı */
}
