.positionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 100px;
    
}

.loginDomain{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d1d1d;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

.loginText{
    position: relative;
    bottom: 50px;
    font-size: 40px;
    font-family: fantasy;
    text-transform: uppercase;
}

.input {
    background-color: #292929;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    color: #fff;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 16px;
    margin: 12px 14px;
    cursor: pointer;
  }
  
  .input:hover {
    border: 1px solid #fff;
  }
  