.positionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 200px;
}

.islemler{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 15px;
    border: none;
    position: relative;
    transition: .3s ease;
    height: 30px;
    font-size: 16px;

}

h2{
    color: black;
    font-size: 40px;
}

.submit_button{
    background-color: #2353ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    transition: .3s;
    &:hover{
      background-color: #2149d8;
    }
}

.remember_div{
    color: black;
    font-size: 12px;
    input{
        border: none;
    }
}




  .password-toggle-icon {
    position: absolute;
    right: 35.5%;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    opacity: 0.5;
  }

  input:focus {
    outline: none;
    border-color: rgba(76, 105, 234, 0.772);
    background-color: #f5f5f5;
    box-shadow: 0 0 0 4px rgba(76, 87, 234, 0.724);
   }
