@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;


.postcard {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 2rem auto;
    overflow: hidden;
    position: relative;
    //I want to make them centered

    
    color: #ffffff;
  
      &.dark {

      }
      &.light {

      }
      
      .t-dark {
          color: #18151f;
      }
      
    a {
      color: inherit;
    }
      
      h1,	.h1 {
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;
      }
      
      .small {
          font-size: 80%;
      }
  
    .postcard__title {
      color: #18151f;
      font-size: 1.75rem;
    }
  
    .postcard__img {
      height: 450px;
      width: 100%;
      object-fit: cover;
      position: relative;
    }
  
    .postcard__img_link {
      display: contents;
    }
  
    .postcard__bar {
      width: 50px;
      height: 10px;
      margin: 10px 0;
      border-radius: 5px;
      transition: width 0.2s ease;
    }
  
    .postcard__text {
      padding: 1.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #565656;
    }
  
    .postcard__preview-txt {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      height: 100%;
    }
  
    .postcard__tagbox {
      display: flex;
      flex-flow: row wrap;
      font-size: 14px;
      margin: 20px 0 0 0;
          padding: 0;
      justify-content: center;
  
      .tag__item {
        display: inline-block;
        border-radius: 3px;
        padding: 2.5px 10px;
        margin: 0 5px 5px 0;
        cursor: default;
        user-select: none;
        transition: background-color 0.3s;
  
        &:hover {
          background: rgba(83, 83, 83, 0.8);
        }
      }
    }
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
      border-radius: 10px;
    }
  
    
  }
  
  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
  
      .postcard__title {
        font-size: 2rem;
      }
  
      .postcard__tagbox {
        justify-content: start;
      }
  
      .postcard__img {

        transition: transform 0.3s ease;
      }
  
      .postcard__text {
        padding: 3rem;
        width: 100%;
      }
  
      .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
      }
  
     
  
      &:nth-child(2n+1) {
        flex-direction: row;
      }
  
      &:nth-child(2n+0) {
        flex-direction: row-reverse;
      }
  
      &:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
      }
  
      &:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
      }
    }
  }
  @media screen and (min-width: 1024px){
          .postcard__text {
        padding: 2rem 3.5rem;
      }
          

      
    .postcard.dark {
          .postcard__text:before {
              background: #18151f;
          }
    }
      .postcard.light {
          .postcard__text:before {
              background: #e1e5ea;
          }
    }
  }
  
  /* COLORS */
  
  
  @media screen and (min-width: 769px) {
      
  }