<div style="display: flex;">
  <button class="delete" [style.display]="name ? 'block' : 'none'" (click)="deleteBlog(this.id)">Blogu Sil
  </button>
  <div class="headers">

    <a class="headers_container_domain" *ngFor="let basliks of baslik" href="{{href}}#{{basliks}}"
      (click)="setActiveLink(basliks)" [class.active]="activeLink === basliks">
      <div class="headers_container">
        <p>{{removeHyphens(basliks)}}</p>

      </div>
    </a>

  </div>

  <article class="postcard dark blue">


    <a class="postcard__img_link" href="#">
      <img class="postcard__img" [src]="blogs.imageURL" alt="Image Title" />
    </a>
    <div class="postcard__text">
      <h1 class="postcard__title blue"><a href="#">{{ blogs.title }}</a></h1>
      <div class="postcard__subtitle small">
        <div class="date_domain" style="position: relative;" datetime="2020-05-25">
          <svg width="35px" height="35px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.50009 0.877014C3.84241 0.877014 0.877258 3.84216 0.877258 7.49984C0.877258 11.1575 3.8424 14.1227 7.50009 14.1227C11.1578 14.1227 14.1229 11.1575 14.1229 7.49984C14.1229 3.84216 11.1577 0.877014 7.50009 0.877014ZM1.82726 7.49984C1.82726 4.36683 4.36708 1.82701 7.50009 1.82701C10.6331 1.82701 13.1729 4.36683 13.1729 7.49984C13.1729 10.6328 10.6331 13.1727 7.50009 13.1727C4.36708 13.1727 1.82726 10.6328 1.82726 7.49984ZM8 4.50001C8 4.22387 7.77614 4.00001 7.5 4.00001C7.22386 4.00001 7 4.22387 7 4.50001V7.50001C7 7.63262 7.05268 7.7598 7.14645 7.85357L9.14645 9.85357C9.34171 10.0488 9.65829 10.0488 9.85355 9.85357C10.0488 9.65831 10.0488 9.34172 9.85355 9.14646L8 7.29291V4.50001Z"
              fill="" />
          </svg>
          <i class="fas fa-calendar-alt mr-2 date_text">{{ blogs.publishDate }} ({{timeSincePublished}})</i>
          <div class="tag__item">{{blogs.category}}</div>
        </div>

      </div>
      <div class="tagDomain">
        <div class="tagbox" *ngFor="let tag of alltags">
          <p>{{tag}}</p>
        </div>
      </div>

      <div class="editor">
        <img class="editor_image" src="http://localhost:56115/images/Profile.jpg" alt="">
        <div class="editor_info">
          <p class="editor_name">
            {{blogs.author}}
          </p>

          <p>Yazar</p>
        </div>
      </div>

      <div class="postcard__bar"></div>
      <div class="postcard__preview-txt" [innerHTML]=" blogs.content"></div>
    </div>

  </article>


  <app-latestblogs class="latestblogs"></app-latestblogs>

</div>


