@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

.username_div {
  display: flex;
  justify-content: space-between;
}

.admin_badge {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(97, 154, 255, 1) 0%, rgba(36, 115, 255, 1) 64%, rgba(0, 93, 255, 1) 100%);
  position: relative;
  left: 5px;

  svg {
    fill: #ffffff;
    position: relative;
    top: 6px;
    left: 3.3px;
  }

  .svg2 {
    fill: #ffffff;
    position: relative;
    top: 4.7px;
    left: 3.3px;
  }
}

.writer_badge {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(97, 154, 255, 1) 0%, rgba(36, 115, 255, 1) 64%, rgba(0, 93, 255, 1) 100%);
  position: relative;
  left: 10px;

  svg {
    fill: #ffffff;
    position: relative;
    top: 4.7px;
    left: 3.3px;
  }

}

.makale {
  display: flex;
  height: 30px;
  margin-left: 15px;
  position: relative;
  bottom: 5px;
}

.makale_text {
  color: #002fff;
  margin-right: 5px;
  font-weight: 600;
  font-size: 'Red Hat Display', sans-serif;
}

.makale_category {
  color: #18151f;
  font-size: 'Red Hat Display', sans-serif;
}

.page {
  display: flex;
  margin-top: 100px;

}

.search {
  border: none;
  height: 35px;
  width: 70%;
  border-radius: 10px;
  background-color: #dfdfdf;
  padding-left: 35px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.secenekler {
  width: 20%;
  position: fixed;
  left: 30px;
  height: 100%;
  z-index: 100;
  line-height: 7px;
}

.search-icon {
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
  fill: none;
  width: 1rem;
  height: 1rem;
  color: #777777;
}

.search:focus {
  outline: none;
}

.lorem {
  &:hover {
    background-color: #0000001e;
  }

  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  height: 5%;
  width: 75%;

  .lorem_text {
    color: #000000a7;
    margin-left: 5px;
  }
}

.gundem {
  width: 20%;
  position: fixed;
  right: 30px;

  height: 100%;
  z-index: 100;
  line-height: 7px;
  color: #18151f;
}

.gundem_text {

  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
}

.gundemler {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  cursor: pointer;
  color: #303030bb;
}

.gundemler:hover {
  background-color: rgba(128, 128, 128, 0.086);
  transition: 0.3s ease;
}

.gundemler_text {
  color: #232323;
}

.gundemler_adet {
  color: #30303090;
}

.category {
  align-self: flex-end;
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  color: #ffffff;
  bottom: 10px;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff0000, #ff9595);
}

.category svg {
  margin: auto;
  font-size: 15px;
  text-align: center;
  position: relative;
  color: #ffffff;

}

.category p {
  margin: auto;
  font-size: 15px;
  text-align: center;
  position: relative;
  color: #ffffff;
  right: 5px;
}

.user {
  margin: 10px;
  margin-bottom: -10px;
  left: 5px;
  position: relative;
  top: 0px;
  display: flex;
  width: 93%;
  justify-content: space-between;
}

.user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user_text {
  position: relative;
  top: 3px;
  line-height: 0px;
  right: 5px;
}

.editor {
  color: #24242494;
  font-size: 15px;
  position: relative;
  bottom: 23px;
}

.user_name {
  color: #232323;
  position: relative;
  bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.postcard {
  flex-wrap: wrap;
  width: 60%;
  box-shadow: 0 5px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  //I want to make them centered


  color: #ffffff;

  &:nth-child(2n+1) .tag__item {}

  &:nth-child(2n+0) .tag__item {}

  &:nth-child(2n+1) .date_text {
    color: #0000004e;
    font-size: 13px;
    left: 20px;
    left: auto;
    bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      fill: #0000004e;
    }
  }

  &:nth-child(2n+0) .date_text {
    bottom: 30px;
    position: relative;
    color: #0000004e;
    font-size: 13px;
    right: 20px;
    right: auto;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      fill: #0000004e;
    }
  }

  &.dark {
    background-color: #18151f00;
  }

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1100ff;
    width: 90%;
    position: relative;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 2rem;
  }

  .postcard__img {
    max-height: 10px;
    width: 100%;
    object-fit: fill;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }



  .postcard__text {
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .postcard__preview-txt {
    text-overflow: ellipsis;
    text-align: justify;
    position: relative;
    width: 87%;
    font-size: 12px;
    color: #0000007d;
    bottom: 45px;
    margin-bottom: -100px;

  }



  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    border-radius: 10px;
  }


}




@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 1.1rem;
      position: relative;
      color: #303030;
      font-weight: 600;
      bottom: 50px;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-height: 60%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
    }



    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }



  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }

  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}