@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

.bannerDiv {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  background-color: #f5f5f5;
  img{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.viewing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  img{
    width: 20px;
    height: 20px;
  }
  p{
    font-size: 15px;
    color: #18151f59;
    font-weight: 500;
    margin-left: 5px;
  }
}
.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.085);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.popularblogs_div{
  margin-left: 10px;
  margin-top: 20px;
}
.otherblogs_text{
  color: #18151f;
  font-weight: 600;
  font-size: 14px;
  position: relative;

}
.popularblogs {
  width: 120%;
  display: flex;
  margin-bottom: -30px;
  line-height: 0px;
  height: 100px;

  img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }

  .popularblogs_info {
    width: 60%;
    line-height: 0px;

    span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 20px;
      font-size: 13px;
    }
    p{
      font-size: 13px;
      color: #18151fa5;
    
    }
  }
}

.footer {
  background-color: #5b478a00;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Red Hat Display', sans-serif;
  height: 200px;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;

  a {
    text-decoration: none;
    color: #002fff;
  }

  .footer_text_div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    position: relative;
    bottom: 80%;

    .footer_text {
      margin-right: 10px;
    }

  }

  svg {
    fill: #3640ff;
  }
}

.username_div {
  display: flex;
  justify-content: space-between;
}

.admin_badge {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(97, 154, 255, 1) 0%, rgba(36, 115, 255, 1) 64%, rgba(0, 93, 255, 1) 100%);
  position: relative;
  left: 5px;

  svg {
    fill: #ffffff;
    position: relative;
    top: 6px;
    left: 3.3px;
  }

  .svg2 {
    fill: #ffffff;
    position: relative;
    top: 4.7px;
    left: 3.3px;
  }
}

.writer_badge {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(97, 154, 255, 1) 0%, rgba(36, 115, 255, 1) 64%, rgba(0, 93, 255, 1) 100%);
  position: relative;
  left: 10px;

  svg {
    fill: #ffffff;
    position: relative;
    top: 4.7px;
    left: 3.3px;
  }

}

.makale {
  display: flex;
  height: 35px;
  width: 80px;
  border-radius: 10px;
  background-color: rgba(17, 0, 255, 0.759);
  margin-left: 15px;
  position: relative;
  margin-top: 20px;
}

.makale_category {
  margin: auto;
  color: #ffffff;
  font-size: 'Red Hat Display', sans-serif;
}

.page {
  display: flex;

  justify-content: space-between;
  position: relative;

}

.search {
  border: none;
  height: 35px;
  width: 70%;
  border-radius: 10px;
  background-color: #dfdfdf;
  padding-left: 35px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.secenekler {
  top: 8%;
  width: 15%;
  position: sticky;
  left: 30px;
  height: 100%;
  z-index: 100;
  line-height: 7px;
}

.search-icon {
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
  fill: none;
  width: 1rem;
  height: 1rem;
  color: #777777;
}

.search:focus {
  outline: none;
}

.lorem {
  &:hover {
    background-color: #0000001e;
  }

  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: 75%;

  .lorem_text {
    color: #000000d6;
    margin-left: 5px;
  }
}

.gundem {
  width: 15%;
  position: sticky;
  right: 70px;
  top: 8%;

  height: 100%;
  z-index: 100;
  line-height: 7px;
  color: #18151f;
}

.flameIcon {
  fill: #ff0000;
  width: 20px;
  height: 20px;
  position: relative;
  top: 8px;
  left: 3px;
}

.gundem_text {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
}

.gundemler {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  cursor: pointer;
  color: #303030bb;
  font-size: 13px;
}

.gundemler:hover {
  background-color: rgba(128, 128, 128, 0.086);
  transition: 0.3s ease;
}

.gundemler_text {
  color: #232323;
}

.gundemler_adet {
  color: #30303090;
}

.category {
  align-self: flex-end;
  margin: 20px 0 0 0;
  padding: 0;
  position: relative;
  color: #ffffff;
  bottom: 10px;
  width: 70px;
  height: 30px;
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff0000, #ff9595);
}

.category svg {
  margin: auto;
  font-size: 15px;
  text-align: center;
  position: relative;
  color: #ffffff;

}

.category p {
  margin: auto;
  font-size: 15px;
  text-align: center;
  position: relative;
  color: #ffffff;
  right: 5px;
}

.bloginfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 93%;
  margin-top: 10px;
}

.user {
  margin-top: 20px;
  margin-bottom: -30px;
  left: 0px;
  position: relative;
  top: 0px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.user_text {
  position: relative;
  top: 3px;
  line-height: 0px;
  right: 5px;
}

.editor {
  color: #24242494;
  font-size: 15px;
  position: relative;
  bottom: 23px;
}

.user_name {
  color: #232323;
  position: relative;
  bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.postcard {

  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  padding-bottom: -800px;

  //I want to make them centered


  color: #ffffff;

  &:nth-child(2n+1) .tag__item {}

  &:nth-child(2n+0) .tag__item {}

  &:nth-child(2n+1) .date_text {
    color: #0000004e;
    font-size: 15px;
    left: 20px;
    left: auto;
    bottom: 55px;
    position: relative;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      fill: #0000004e;
    }
  }

  &:nth-child(2n+0) .date_text {
    bottom: 55px;
    position: relative;
    color: #0000004e;
    font-size: 15px;
    right: 20px;
    right: auto;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      fill: #0000004e;
    }
  }

  &.dark {
    background-color: #ffffff;
  }

  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }



  h1,
  .h1 {
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
    color: #1100ff;
    width: 90%;
    position: relative;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 2rem;
  }

  .postcard__img {
    max-height: 10px;
    width: 96%;
    object-fit: fill;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }



  .postcard__text {
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .postcard__preview-txt {
    text-overflow: ellipsis;
    text-align: justify;
    position: relative;
    width: 87%;
    font-size: 15px;
    color: #0000007d;
    bottom: 80px;
    margin-bottom: -100px;
  }






}




@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 1.5rem;
      position: relative;
      color: #303030;
      font-weight: 600;
      bottom: 80px;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      margin: 20px;
      border-radius: 20px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
    }



    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }



  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }

  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

@media screen and (max-width: 600px) {

  
  .search {
    border: none;
    height: 35px;
    border-radius: 10px;
    background-color: #dfdfdf;
    margin-bottom: 10px;
    transition: 0.3s ease;
  }
  
  .secenekler {
    top: 12%;
    width: 20%;
    position: fixed;
    left: 100px;
    height: 100%;
    z-index: 100;
    line-height: 7px;
  }
  
  .search-icon {
    position: absolute;
    top: 0.6rem;
    left: 0.8rem;
    fill: none;
    width: 1rem;
    height: 1rem;
    color: #777777;
  }
  
  .search:focus {
    outline: none;
  }
  
  .lorem {
    &:hover {
      background-color: #0000001e;
    }
  
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: 5%;
    width: 75%;
  
    .lorem_text {
      color: #000000a7;
      margin-left: 5px;
    }
  }
  .footer {
    background-color: #5b478a00;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    height: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  
    a {
      text-decoration: none;
      color: #002fff;
    }
  
    .footer_text_div {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      width: 100%;
      position: relative;
      bottom: 80%;
  
      .footer_text {
        margin-right: 10px;
      }
  
    }
  
    svg {
      width: 50px;
      height: 50px;
      fill: #3640ff;
    }
  }

  .username_div {
    flex-direction: column;
    align-items: center;
  }

  .admin_badge,
  .writer_badge {
    width: 15px;
    height: 15px;
  }

  .makale {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 0;
  }

  .makale_text,
  .makale_category {
    font-size: 12px;
  }

  .page {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .search {
    width: 90%;
    margin-bottom: 5px;
  }

  .secenekler,
  .gundem {
    width: 100%;
    position: static;
    height: auto;
  }

  .lorem {
    width: 90%;
  }

  .postcard {
    width: 90%;
  }

  .postcard__title {
    font-size: 1.5rem;
  }

  .postcard__img {
    width: 100%;
  }

  .postcard__text {
    width: 100%;
  }

  .postcard__preview-txt {
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
  }
}