<app-topblogs></app-topblogs>
<a [routerLink]="['/blog', blog.postID]" class="postcard dark blue" *ngFor="let blog of blogs">
  <a class="postcard__img_link" href="#">
    <img class="postcard__img" [src]="blog.imageURL" alt="Image Title" />
  </a>
  <div class="postcard__text">
    <time class="date_text" datetime="2020-05-25">
      <i></i>
      <p class="date_text2">{{ blog.publishDate }}</p>
    </time>
    <h1 class="postcard__title blue"><a href="#">{{ blog.title }}</a></h1>
    <div class="postcard__subtitle small">

    </div>
    <div class="postcard__bar"></div>
    <div class="postcard__preview-txt" [innerHTML]="blog.content"></div>
    <ul class="postcard__tagbox">

      <li class="tag__item"><i class="fas fa-clock mr-2"></i>{{blog.category}}</li>

    </ul>
  </div>
</a>