<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">

<div class="navbar"
  style=" height: 70px;  margin-top: 5px; display: flex; justify-content: space-between; align-items: center;">
  <a href="#" class="navbar_baslik">
    <svg style="width: 10%; height: 10%;" id="katman_1" data-name="katman 1" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 225.08 256.33">
      <defs>
        <style>
          .cls-1 {
            fill: #1d1d1b;
          }

          .cls-2 {
            fill: none;
            stroke: #fff;
            stroke-miterlimit: 10;
            stroke-width: 7px;
          }
        </style>
      </defs>
      <path class="cls-1"
        d="M368.65,398V351.17q0-48.37-21.07-71.55t-65-23.18q-45.63,0-70.82,25.56t-25.19,71.73v159h74.39V453.22h21.43v-66H260.92V356.11q0-26,17.4-26,9,0,12.46,5.68t3.48,20.33v97.41C333,452.93,364.72,428.81,368.65,398Z"
        transform="translate(-143.57 -256.44)" />
      <path class="cls-1" d="M294.26,466.27v46.5h74.39v-79C352.35,453.09,325.16,465.88,294.26,466.27Z"
        transform="translate(-143.57 -256.44)" />
      <rect class="cls-1" y="130.82" width="152.28" height="65.96" />
      <path class="cls-2" d="M-30.45,243.64" transform="translate(-143.57 -256.44)" />
    </svg>

  </a>
  <div>

  </div>


  <div style="display: flex; margin-right: 20px; margin-top: 10px;">
    <a class="create_button" href="/controlpanel" [style.display]="name ? 'flex' : 'none'">
      <p>Control Panel</p>
    </a>



    <!-- Buton içeriği buraya gelecek -->
    <a href="/user-update" class="user" [style.display]="name ? 'block' : 'none'">
      <img class="user_image" src="http://localhost:56115/images/Profile.jpg" alt="">

      <!-- <p class="user_text">{{this.name}}</p> -->
    </a>

    <!-- <a [style.display]="name ? 'none' : 'block'" class="signin_button" href="/controlpanel">

      <p class="signin_text">Admin Panel</p>
    </a> -->
  </div>

</div>
