.navbar_baslik {
    display: flex;
    position: relative;
    bottom: 22px;
    left: 10px;
}

#logo {
    position: relative;
    left: 25px;
    top: 30px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

#logo_text_div {
    position: relative;
    left: 35px;
    top: 80px;
    top: 1px;
}

.logo_text {
    color: #FFF;
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 1px;
    /* 125% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: -15px;
}

.baslik_icon {
    position: relative;
    top: 25px;
}

.baslik_text {
    font-size: 25px;
    position: relative;
}

.login_button {
    position: relative;
    display: flex;
    right: 10px;
    top: 10px;
}

.login_button:hover .login_text {
    color: rgba(255, 255, 255, 0.633);
}

.login_button:hover .login_icon path {
    fill: rgba(255, 255, 255, 0.633);
    transition: fill 0.3s ease;
}


.login_icon {
    position: relative;

}

.login_text {
    position: relative;
    right: 3px;
    bottom: 17px;
    color: white;
    transition: fill 0.3s ease;
}