
<div style="display: flex; justify-content: center; margin-top: 100px;">
    <div class="control-panel">
  
        <form class="formStyle" (submit)="createBlog()">
            <label class="columnSyle">
                <p class="titleText">Title</p>
                <input class="inputPosition" [(ngModel)]="blog.title" name="title" type="text">
            </label>
            <label class="columnSyle">
                <p class="titleText">Content</p>
                
                <jodit-editor name="content"  [(ngModel)]="blog.content" [config]="config" style="color: black;"></jodit-editor>
            </label>
            <label class="columnSyle">
                <p class="titleText">Category</p>
                <select class="inputPosition ql-toolbar" [(ngModel)]="blog.category" name="category">
                    <option value="0">Teknoloji</option>
                    <option value="1">Bilim</option>
                    <option value="2">İşletme</option>
                </select>
            </label>
            <label class="columnSyle">
                <p class="titleText">Image</p>
                <input #imageInput
                type="file"
                accept="image/*"
                (change)="processFile(imageInput)">
            </label>
            <button type="submit">Create</button>
        </form>
  
    <div style="height: 50px;"></div>
    <P>KULLANICI ISLEMLERI</P>
       <form class="formStyle" (submit)="updateUser()">
        <label class="columnSyle">
            <p class="titleText">Kullanıcı Adı</p>
            <input class="inputPosition" [(ngModel)]="user.username" name="title" type="text" >
        </label>
        <label class="columnSyle">
            <p class="titleText">Şifre</p>
            
            <input class="inputPosition" [(ngModel)]="user.password" name="title" type="text" >
        </label>
        <label class="columnSyle">
            <p class="titleText">Resim</p>
            <input #imageInputa
            type="file"
            accept="image/*"
            (change)="processFile(imageInputa)">
        </label>
        <button type="submit">Guncelle</button>

       </form>
    </div>

</div>
