<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div style="display: flex; justify-content: center; margin-top: 100px;">
  <div class="control-panel">

    <form class="formStyle" (submit)="createBlog()">
      <label class="columnSyle imageDesign">
        <img [src]="selectedFile ? selectedFile : '#' " alt=" " class="preview-image">
        <div class="imageElement">
          <svg class="imageIcon" width="50px" height="50px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 4c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm11 9l-3-3-6 6h16l-5-5-2 2zm4-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
          </svg>
          <p>Choose Blog Image</p>
        </div>

        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
      </label>

        <div class="titleDiv">
          
          <p>Caption</p>
          <textarea [(ngModel)]="blog.title" placeholder=""  name="title" type="text"></textarea>
          <div class="radioButtons">
            <label>
                <input type="radio" [(ngModel)]="blog.category" name="category" value="0" checked (change)="onCategoryChange($event)"> Teknoloji
            </label>
            <label>
                <input type="radio" [(ngModel)]="blog.category" name="category" value="1" (change)="onCategoryChange($event)"> Bilim
            </label>
            <label>
                <input type="radio" [(ngModel)]="blog.category" name="category" value="2" (change)="onCategoryChange($event)"> İşletme
            </label>
        </div>
        </div>


      <div class="contentDiv">
        <p>Caption</p>
        <jodit-editor name="content" [(ngModel)]="blog.content" [config]="config"
          style=" color: black; border-radius: 20px; box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);"></jodit-editor>
      </div>
      <div class="tagislem">
        <input class="taginput" [(ngModel)]="blog.tags" (keyup)="addTag($event)" placeholder="Tags" name="tags" type="text">
        <div class="tagDomain">
          @for (tag of tags; track $index) {
          <button class="tag" (click)="removeTag($index)"><p>{{tag}}</p></button>
          }
        </div>
      </div>
      <div>
        @for (tag of AllTags; track $index) {
          <button class="tag" (click)="addTagEnter($index)"><p>{{tag}}</p></button>
          }
      </div>

      <div class="buttonDomain">
        <button class="submitButton" type="submit">Publish</button>
      </div>


    </form>



  </div>